<div class="container">
    <center><h1>CẬP NHẬT MÓN ĂN</h1></center>
    <form class="mt-4" method="POST" action="/admin/clotheslist/{{clotheslist._id}}?_method=PUT" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Tên món ăn: </label>
            <input type="text" class="form-control" value="{{clotheslist.name}}" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="description">Mô tả: </label>
            <textarea class="form-control" id="description" name="description">{{clotheslist.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh: </label>
            <input type="file" class="form-control" value="{{clotheslist.image}}" id="image" name="image" />
        </div>
        <div class="form-group">
            <label for="price">Giá: </label>
            <input type="text" class="form-control" value="{{clotheslist.price}}" id="price" name="price" />
        </div>

        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</div>